.pokemon-grid {
  list-style-type: none;
  padding: 0 12vw;

  li {
    display: inline-block;
    background-color: #F2F2F2;
    text-align: center;
    margin: 0.6rem;
    padding: 0.4rem 0.8rem;
    border-radius: 4px;

    p {
      margin: 0;
      text-transform: capitalize;
      padding-bottom: 0.4rem;
    }

    img {
      height: 150px;
    }
  }
}